/* ESTILOS PARA LAS PAGINAS EN GENERAL PARA QUE EL FOOTER SEA RESPONSIVE */
    body {
        margin:0;
        padding:0;
        min-height:100%;
    }

/*ESTILOS PARA LA PAGINA NOSOTROS*/

.mision{
    width: 100%;
    background-color: rgb(39, 39, 39);
    height: fit-content;
    margin-bottom: 20px;
}

.titulo{
    color: white;
    font-size: 30px;
    font-style: italic;
}

.vision{
    width: 100%;
    background-color: rgb(70, 70, 70);
    height: fit-content;
    padding-bottom: 20px;
}

.objetivos{
    width: 100%;
    background-color: rgb(39, 39, 39);
    height: fit-content;
    margin-bottom: 20px;
}

.acerca_de{
    padding-left: 24%;
    padding-right: 24%;
    font-size: 18px;
}

ol li{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    font-size: 18px;
}

#contenido_nosotros {
    background-color: rgb(39, 39, 39);
    padding-bottom: 10px;
}

/*ESTILOS PARA EL PIE DE LA PAGINA*/

footer{
    width: 100%;
    height: 100px;
    background-color: rgb(59, 59, 59);
    display: inline-table;
    align-self: flex-end;
}

footer li{
    font-weight: 300;
    color: rgb(145, 145, 145);
    display: inline;
}

footer li p{
    font-size: 24px;
    font-weight: 300;
    color: rgb(197, 197, 197);
    text-align: center;
    
}

footer li a{
    color:rgb(183, 183, 183);
    text-decoration: none;
}

footer li a:hover{
    color:white;
}

.center{
    text-align: center;
}